---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

// Override type scale for smaller text
$type-size-5: 0.9em !default;


@import "minimal-mistakes"; // main partials

// Custom styles

// Author avatar styling
.author__avatar img {
  border-radius: 50%; // Circular
}

Reddit button styling
.btn--reddit {
  color: #fff;
  background-color: #ff4500;
  border-color: #ff4500;

  &:hover {
    color: #fff;
    background-color: darken(#ff4500, 10%);
    border-color: darken(#ff4500, 10%);
  }
}
