---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom styles
.page__content p {
  font-size: 0.9em;
}

.page__content {
  font-size: 0.9em;
}

// Reddit button styling
.btn--reddit {
  color: #fff;
  background-color: #ff4500;
  border-color: #ff4500;
  
  &:hover {
    color: #fff;
    background-color: darken(#ff4500, 10%);
    border-color: darken(#ff4500, 10%);
  }
}