---
layout: default
---

{% include directory.html %}

<section class="posts">
  {% for post in paginator.posts %}
  <article class="post-entry">
    <div class="post-meta">
      <a href="{{ post.url | relative_url }}" class="post-title">{{ post.title }}</a>
      <span class="post-date">{{ post.date | date: "%d %b '%y" }}</span>
    </div>
    {% if post.image %}
    <a href="{{ post.url | relative_url }}">
      <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-hero">
    </a>
    {% endif %}
    <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 200 }}</p>
    <a href="{{ post.url | relative_url }}" class="read-more">Read more &rarr;</a>
  </article>
  {% endfor %}
</section>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  <span class="pag-info">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <span>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="pag-link">&larr; Newer posts</a>
    {% endif %}
    {% if paginator.previous_page and paginator.next_page %} &nbsp; {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="pag-link">Older posts &rarr;</a>
    {% endif %}
  </span>
</div>
{% endif %}
